# compiled output
gate/dist
gate/node_modules
gate/build

.deploy

# Logs
gate/gate/logs
gate/*.log
gate/npm-debug.log*
gate/pnpm-debug.log*
gate/yarn-debug.log*
gate/yarn-error.log*
gate/lerna-debug.log*

# OS
.DS_Store

# Tests
gate/coverage
gate/.nyc_output

# IDEs and editors
gate/.idea
