name: "proxy"

services:
  nats:
    image: nats:latest
    container_name: nats
    ports:
      - "4222:4222"
      - "8222:8222"
    command: ["-DV"]
    networks:
      - qik_ai_cluster


  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - api
#      - client
    networks:
      - qik_ai_cluster